<div id="<%= dom_id attachment %>">
  <p>
    <strong>Attach title:</strong>
    <%= attachment.attach_title %>
  </p>

  <p>
    <strong>Attach content:</strong>
    <%= attachment.attach_content %>
  </p>

</div>
